@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900');

.map-interactive{
  font-family: 'Roboto', sans-serif;
  .map{
    width:775px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    .svg-box{
      position: absolute;
      top:0;
      right: 0;
      width: 100%;
      height: 100%;
      .path{
        fill: rgba(0,0,0, 0);
        transition: 0.3s;
        &:hover{
          fill: rgba(0,0,0, 0.3);
        }
      }
    }
  }
  .description{
    background-color: #f8f8f8;
    box-shadow: 0 0 3px rgba(0,0,0,.25);
    position: absolute;
    //display: none;
    z-index:999;
    padding:  5px 10px 10px;
    border-radius: 3px;
    top:0;
    left:0;
    max-width:300px;
    .h4{
      margin: 0;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;
    }
    .count-all{
      font-size: 11px;
      display: block;
      color: #868181;
      padding-top: 3px;
    }
    .table-data{
      &-row{
        color: #868181;
        font-size: 11px;
        display: grid;
        grid-template-columns: 100px 70px repeat(2, 1fr);
        border-bottom: 1px solid #e2dcdc;
        .table-data-item{
          padding: 8px;
          text-align: right;
          color: #000;
          &:nth-child(1){
            padding-left: 0;
            text-align: left;
          }
          &:nth-last-child(1){
            padding-right: 0;
          }
          &.name{
            text-transform: capitalize;
          }
          &.pr{
            font-weight: 600;
          }
        }
      }
    }
  }
}

