doctype
html
    head
        link(rel="stylesheet"  href="css/common.css")
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
    body

    .main-box
        .content.heading
            h1 Результаты президентских выборов


    .map-interactive
        .map
            svg.svg-box(viewBox=" 0 0 697 473")
                include map-fraction/path-1
                include map-fraction/path-2
                include map-fraction/path-3
            img(src="img/jpg/map.png")
        .description.hidden#descr
            h4.h4
            span.count-all 100% проголосовало
            ul.count-data
                li.count-data-item
                    strong.count-el кандидат
                    strong.count-el процент
                li.count-data-item
                    span.count-el.name П.Порошенко
                    span.progress
                        i.progress-item
                    span.count-el.precent
                li.count-data-item
                    span.count-el.name Ю.Тимошенко
                    span.progress
                        i.progress-item
                    span.count-el.precent
                li.count-data-item
                    span.count-el.name B.Зеленский
                    span.progress
                        i.progress-item
                    span.count-el.precent
                li.count-data-item
                    span.count-el.name Ю.Бойко
                    span.progress
                        i.progress-item
                    span.count-el.precent
                li.count-data-item
                    span.count-el.name C.Вакарчук
                    span.progress
                        i.progress-item
                    span.count-el.precent



